/* Base stles */
body {
    font-family: "Roboto", sans-serif;
    background: #FFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.link {
    text-decoration: none;
}

:root {
    /* Colors */
    --link-logo: #4d5ae5;
    --logo-text-color: #2E2F42;
    --link-item: #2E2F42;
    --list-item: #2e2f42;
    --list-address: #434455;
    --list-item-title-feature: #2E2F42;
    --footer-logo-text: #4D5AE5;
    --footer-link: #4d5ae5;
    --filter-button: #4D5AE5;
    --filter-background: #F4F4FD;
    --row-list-item: #2e2f42;
    --row-list-des: #434455;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Гумові картинки */
img {
    display: block;
    max-width: 100%;
    height: auto;
}



/* Reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.list {
    margin: 0;
    padding-left: 0;
}

/* Reset end */

/* Header */

/* Menu Nav */

/* Logo WebStudio */

nav .link-logo {
    color: var(--link-logo);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    text-decoration: none;
    margin-right: 76px;
    padding: 24px 0;
}

.logo-text {
    color: var(--logo-text-color);
}

.list {
    list-style: none;
}

.header-container .list {
    display: inline-flex;
    gap: 40px;
    padding: 24px 0;
}

.header-container {
    display: flex;
    padding: 0 15px;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list-item {
    padding: 24px 0
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
}


/* display: flex; */
.list-item {
    font-weight: 500;
    color: var(--list-item);
}

.link {
    text-decoration: none;
    color: var(--link-item)
}

.link:hover,
.link:focus {
    color: #404bbf
}

ul {
    list-style-type: none;
}

/* address */

.address {
    font-style: normal;
    display: flex;
}


.link-address {
    color: var(--list-address);

}

.address-list-item {
    display: flex;
}


/* Main */


/* Section 1 (Hero) */
.hero {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    background: var(--navyblue, #2E2F42);
    letter-spacing: 0.02em;
    padding: 188px 0;
}



.hero-title {
    font-size: 56px;
    color: #FFF;
    max-width: 496px;
    margin: 0 316px;
    margin-bottom: 48px;
    text-align: center;
}

.hero-button-text,
.filter-button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #FFF;
    letter-spacing: 0.04em;
    font-weight: 500;
    background: var(--iris, #4D5AE5);
    cursor: pointer;
}

.hero-button-text {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 480px;
    box-sizing: content-box;
}

.filter-button:hover,
.filter-button:focus {
    border: 1px solid transparent;
}

.hero-button-text:hover,
.hero-button-text:focus {
    background-color: #404bbf;
}



/* Section 2 (Features)*/

.feature {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    padding: 120px 0;
}

.list-feature {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.list-item-feature {
    width: calc((100% - 3*24px) / 4);
}

.list-item-title-feature {
    color: var(--list-item-title-feature);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.feature-list-discription {
    color: var(--slate, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

}

/* Section 3 (Projects) */

.projects {
    padding-bottom: 120px;
}

.projects-title {
    color: var(--navyblue, #2E2F42);
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.018em;
    text-transform: capitalize;
    font-size: 36px;
    text-align: center;
    margin-bottom: 72px;
}

.projects .list {
    gap: 24px;
    display: flex;
}

.project-list-item {
    width: calc((100% - 2*24px) / 3);
}

/*<Section 4 (Team)*/

.team {
    background: var(--cloud, #F4F4FD);
    padding: 120px 0;

}

.team-title {
    color: var(--navyblue, #2E2F42);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;

}

.ul-team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.team-list {
    width: calc((100% - 3*24px) / 4);
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #FFF);
    display: inline-flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-list-item {
    color: var(--navyblue, #2E2F42);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-card-description {
    padding: 32px 0;
}


.team-list-description {
    color: var(--slate, #434455);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/* Footer */

.footer {
    background: var(--navyblue, #2E2F42);
    padding: 100px 0;
}

.footer-link {
    color: var(--footer-link);
    font-family: "Raleway",
        sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px
}

.footer-container {
    width: 264px;
}

.fotter-logo-text {
    color: var(--fotter-logo-text);
    line-height: 1.17;
    color: #f4f4fd;
}

.footer-description {
    color: var(--cloud, #F4F4FD);
    font-weight: 400;
    text-transform: none;
    max-width: 264px;
}


/* Page (Portfolio)*/
/* Main */
/* Sectin menu filters */

.filter-button {
    color: var(--filter-button);
    background-color: var(--filter-background);
    text-align: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
    padding: 12px 24px;

}


.filter-button:hover,
.filter-button:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.ul-list-filter {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
}

/* Sectin rows */
.row {
    padding: 96px 0 120px 0;
}

.row-list-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--row-list-item);
    letter-spacing: 0.02em;
    margin-bottom: 8px
}

.row-list-descreption {
    color: var(--row-list-des);
    font-weight: 400;
}

.menu-apps-item {
    width: calc((100% - 2*24px) / 3);
}

.container-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-apps {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.menu-apps-description {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}